* {
    margin: 0;
    padding: 0;
}

/* ---------- */
/* HEADER */
/* ---------- */

header {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/cafe.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

nav {
    float: right;
}

li {
    color: #dddddd;
    list-style: none;
    float: left;
    margin: 10px;
}

h1{
    font-size: 80px;
    letter-spacing: 5px;
    color: #dddddd;
    font-family: 'Bebas Neue';
}

/* ---------- */
/* ABOUT US */
/* ---------- */

.about-us {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.lg-paragraph-intro{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.lg-paragraph-container{
    margin: auto;
    padding: 15px;
    width: 0 10px 0 10px;

}

.lg-paragraph{
    text-align: center;
    padding: 35px;
    width: 0 10px 0 10px;

}

.sm-paragraph-container {
    padding: 0;
    margin: 10px;

}
.sm-paragraph-intro {
    text-transform: uppercase;
    text-align: center;
}

.sm-paragraph {
    margin: 5px;
    padding: 20px;
    text-align: center;
}

/* ---------- */
/* ABOUT US IMAGES */
/* ---------- */

.list-container {
       border: solid 1px rgb(255, 0, 0);
}

ul {
    border: solid 1px rgb(8, 253, 0);
}

li {
    border: solid 1px red;
}
.about-us-image {
    padding: 0;
    margin: auto;
    height:350px;
    width: 350px;
}

/* ---------- */
/* FOOTER */
/* ---------- */

footer{
    text-align: center;
    border: solid 1px red;
}

