* {
    margin: 0;
    padding: 0;
}

/* ---------- */
/* HEADER */
/* ---------- */

header {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/cafe.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

h1{
    float: left;
    padding: 10px 0 0 40px;
    font-size: 100px;
    letter-spacing: 5px;
    color: #00f13c;
    font-family: 'Bebas Neue';
}

.header-link {
    color: #00f13c;
    text-decoration: none;
}

.header-link:hover {
    color: #00f13c;
}

nav {
    float: right;
}

.nav-bar-link {
    color: #dddddd;
    text-decoration: none;
}

.nav-bar-link:hover {
    color: #00f13c;
}

li {
    color: #dddddd;
    list-style: none;
    float: left;
    margin: 10px;
}

/* ---------- */
/* ABOUT US */
/* ---------- */

.about-us {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.lg-paragraph-intro{
    text-align: center;
    text-transform: uppercase;
}

.lg-paragraph-container{
    margin: auto;
}

.lg-paragraph{
    text-align: center;
    padding: 15px;
    width: 0 10px 0 10px;

}

.sm-paragraph-container {
    padding: 0;
    margin: 3px;
}

.sm-paragraph-intro {
    color: #dddddd;
    text-transform: uppercase;
    text-align: center;
}

.sm-paragraph {
    color: #dddddd;
    margin: 5px;
    padding: 20px;
    text-align: center;
}

/* ---------- */
/* ABOUT US IMAGES */
/* ---------- */

#family-container-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/family.jpg);
}
#family-container-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/community.jpg);
}
#family-container-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/farmer.jpg);
}

/* ---------- */
/* FOOTER */
/* ---------- */

footer{
    text-align: center;
    /* border: solid 1px red; */
}

